{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "no-unused-vars": "warn",
        "no-empty": "warn",
        "no-plusplus": "off"
    },

    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
